langchain
openai
PyQt5
chromadb
tiktoken
unstructured[pdf]
unstructured[all]
schedule
unstructured
langchain-openai
datetime
beautifulsoup4
unstructured[docx]
unstructured[csv]
unstructured[xlmx]
appdirs
click
langchain
langchain_core
langchain_openai
pydantic
pydantic_core
python-dotenv
PyYAML
regex
requests
setuptools
langchain_community
embedchain
 

